<ion-content>
  <div class="chart-container ds-flex-center">
    <div class="chart-data-container">
      <header class="chart__header">
        <a href="" class="chart__header__option">Mês</a>
        <a href="" class="chart__header__option">Ano</a>
        <a href="" class="chart__header__option">Calendário</a>
      </header>

      <div class="chart-data__doughnut">
        <header class="chart-data__doughnut__header">
          <h2 class="doughnut__title">{{ itensHome.mesCusto }}</h2>
          <h3 class="doughnut__cost">Custo: R$ {{ itensHome.totalGasto }}</h3>
        </header>
        <canvas #doughnutCanvas class="cost-chart-style"></canvas>
      </div>

    </div>

    <div class="chart-data__progress-bar">
      <div class="progress-bar" *ngFor="let dadosEstatitisca of estatistica" [ngStyle]="{'background-color': dadosEstatitisca.cor}">
        <div class="progress-bar__item">
          <ion-icon [name]="dadosEstatitisca.icone"></ion-icon>
          <h3 class="progress-bar__item__name">{{ dadosEstatitisca.nome }}</h3>
        </div>

        <span class="progress-bar__percent">{{ dadosEstatitisca.porcetagem }}%</span>
        <span class="progress-bar__item-cost">{{ dadosEstatitisca.valorMonetario }}</span>
      </div>
    </div>
  </div>
  <app-navigation></app-navigation>
</ion-content>