<ion-content>
  <div class="container chart-container">
    <div class="chart-data-container">
      <header class="chart__header">
        <a href="" class="chart__header__option selected">Dia</a>
        <a href="" class="chart__header__option">Semana</a>
        <a href="" class="chart__header__option">Mês</a>
        <a href="" class="chart__header__option">Ano</a>
        <a href="" class="chart__header__option">Calendário</a>
      </header>

      <div class="chart-data__doughnut">
        <header class="chart-data__doughnut__header">
          <h2 class="doughnut__title">Hoje</h2>
          <h3 class="doughnut__cost">Custo: R$ 20,00</h3>
        </header>
        <canvas #doughnutCanvas class="cost-chart-style"></canvas>
      </div>

    </div>

    <div class="chart-data__progress-bar">
      <div class="progress-bar">
        <div class="progress-bar__item">
          <ion-icon name="fast-food-outline"></ion-icon>
          <h3 class="progress-bar__item__name">Comida</h3>
        </div>

        <span class="progress-bar__percent">80%</span>
        <span class="progress-bar__item-cost">R$ 2500</span>
      </div>
    </div>
  </div>
  <app-navigation></app-navigation>
</ion-content>