<ion-content>
  <div class="profile">
    <span class="profile-edit" (click)="update()">
      <ion-icon name="create-outline"></ion-icon>
    </span>

    <h1 class="profile__title">Perfil</h1>
    <header class="profile__header">
      <ion-icon class="profile__image" name="person-circle-outline"></ion-icon>

      <h2 class="user__name">Erian</h2>
      <p class="user__job">Programador JR</p>
    </header>
  </div>

  <div class="profile__data">
    <div class="profile__card">
      <header class="profile__card-header">
        <ion-icon class="card-header__item" name="happy-outline"></ion-icon>
        <label for="" class="card-header__label">nome:</label>
      </header>
      <p class="profile__card-data" *ngIf="!isUpdate">Erian Erik dos Santos Silva</p>
      <input class="input" value="Erian Erik dos Santos Silva" *ngIf="isUpdate">
    </div>

    <div class="profile__card">
      <header class="profile__card-header">
        <ion-icon class="card-header__item" name="mail-outline"></ion-icon>
        <label for="" class="card-header__label">Email:</label>
      </header>
      <p class="profile__card-data" *ngIf="!isUpdate">erianerik@gmail.com</p>
      <input type="email" class="input" value="erianerik@gmail.com" *ngIf="isUpdate">
    </div>

    <div class="profile__card">
      <header class="profile__card-header">
        <ion-icon class="card-header__item" name="cash-outline"></ion-icon>
        <label for="" class="card-header__label">Salário:</label>
      </header>
      <p class="profile__card-data" *ngIf="!isUpdate">R$ 2500,00</p>
      <input type="number" class="input" value="2500.00" *ngIf="isUpdate">
    </div>

    <div class="profile__card">
      <header class="profile__card-header">
        <ion-icon class="card-header__item" name="information-circle-outline"></ion-icon>
        <label for="" class="card-header__label">Informações:</label>
      </header>
      <p class="profile__card-data">Todos direitos reservados ©</p>
    </div>

    <button class="button button--blue logout"> {{ isUpdate ? 'Salvar' : 'Sair' }}</button>
  </div>


  <app-navigation></app-navigation>
</ion-content>