.form-register-login__content {
    width: 100%;
    height: auto;
}

.login-register__header {
    width: 100%;
    text-align: center;
}

.form-login__term-acess {
    max-width: 80%;
    margin: 20px auto ;
    text-align: center;
    color: var(--grey300);

    .term-user-link {
        color: var(--blue700);
        font-weight: 700;
    }
}

.form__actions {
    margin-top: 20px;
}