<ion-content>
  <form class="container form-register-login">
    <div class="form-register-login__content">

      <header class="login-register__header">
        <h1 class="login-register__header__title login__title">Registrar</h1>
        <p class="login-register__header__description login__description">Faça login da sua conta</p>
      </header>

      <div class="form__content__inputs">

        <ion-label class="input-label">Usuário</ion-label>
        <ion-input class="input" placeholder="Ex.: José Agusto"></ion-input>

        <ion-label class="input-label">Email</ion-label>
        <ion-input class="input" inputmode="email" type="email" placeholder="Ex.: joseAugusto@email.com"></ion-input>
      
        <ion-label class="input-label">Salário</ion-label>
        <ion-input class="input" inputmode="numeric" type="number" placeholder="Ex.: 1200.00"></ion-input>

        <ion-label class="input-label">Total de dinheiro guardado</ion-label>
        <ion-input class="input" inputmode="numeric" type="number" placeholder="Ex.: 1200.00"></ion-input>

        <ion-label class="input-label">Senha</ion-label>
        <ion-input class="input" type="password" placeholder="Ex.: *********"></ion-input>

        <ion-label class="input-label">Confirmar senha</ion-label>
        <ion-input class="input" type="password" placeholder="Ex.: *********"></ion-input>

        <p class="form-login__term-acess">Você está concordando com o nosso <span class="term-user-link">termo de uso de privacidade</span></p>
      </div>
    </div>

    <div class="form__actions">
      <ion-button class="button button--blue" routerLink="login">Cadastrar</ion-button>
      <p class="form-actions__account">Já possui uma conta? <span class="login-link">logar</span></p>
    </div>

  </form>
</ion-content>