<ion-content>
  <div class="home" [ngClass]="{'padding-bottom-5': estatistica.length > 4}">
    <h2 class="home__month">{{ itensHome.mesCusto }}</h2>
    <div class="header__container">
      <div class="header__cost__container">
        <header class="header">
          <h1 class="header__title">Total a guardar</h1>
          <p class="header__cost">R$ {{ itensHome.totalGuardar }}</p>
        </header>

        <ion-icon name="stats-chart-outline" class="button-icon icon--white"></ion-icon>
      </div>

      <div class="home__statistisc">
        <div class="statistisc__container">
          <div class="statistisc__value">
            <h2 class="statistic__title">Custos</h2>
            <p class="statistic__value">R$ {{ itensHome.totalGasto}}</p>
          </div>

          <div class="statistisc__value">
            <h2 class="statistic__title">Metas</h2>
            <p class="statistic__value">R$ 1000,00</p>
          </div>
        </div>

        <button class="statistisc-button" *ngIf="estatistica.length !== 0">Olhar estatística desse périodo</button>
      </div>
    </div>

    <div class="cost-container" *ngIf="estatistica">
      <div class="cost__card" *ngFor="let estatistica of estatistica">
        <div class="cost__card__header">
          <ion-icon [name]="estatistica.icone"></ion-icon>
          <span class="card__item__porcent">{{ estatistica.porcetagem }}%</span>
        </div>

        <div class="cost__card__body">
          <span class="card__item__value">R$ {{ estatistica.valor }}</span>
          <h2 class="card__item__type-title">{{ estatistica.nome }}</h2>
        </div>
      </div>

    </div>
  </div>
  <app-navigation></app-navigation>
</ion-content>