<ion-content>
    <div class="home__container">
        <img src="../../assets/login/Finance app_Monochromatic.svg" />

        <div class="home__content">
            <h1 class="home__title">FinanApp</h1>
            <p class="home__description">Tenha o controle de seus gastos e alcance as suas metas financeiras</p>
        </div>

        <div class="home__buttons">
            <ion-button class="button button--blue" routerLink="login">Login</ion-button>
            <ion-button class="button button--outline--blue" routerLink="register-login">Cadastrar</ion-button>
        </div>

    </div>
</ion-content>