.form-register-login {
    width: 100%;
    height: auto;
    min-height: 100%;
    padding: 0 1em;
    padding-bottom: 1em;
}

.form-register-login__content {
    width: 100%;
    height: auto;
}

.form-login__term-acess {
    margin: 1em auto;
    font-size: .9em;
    text-align: center;
    color: var(--grey300);

    .term-user-link {
        color: var(--blue700);
        font-weight: 600;
    }
}
