<ion-content>
  <div class="container home">
    <h2 class="home__month">Maio</h2>
    <div class="header__container">
      <div class="header__cost__container">
        <header class="header">
          <h1 class="header__title">Total a guardar</h1>
          <p class="header__cost">R$ 65,000.00</p>
        </header>

        <ion-icon name="stats-chart-outline" class="button-icon icon--white"></ion-icon>
      </div>

      <div class="home__statistisc">
        <div class="statistisc__container">
          <div class="statistisc__value">
            <h2 class="statistic__title">Custos</h2>
            <p class="statistic__value">R$ 1000,00</p>
          </div>

          <div class="statistisc__value">
            <h2 class="statistic__title">Metas</h2>
            <p class="statistic__value">R$ 1000,00</p>
          </div>
        </div>

        <button class="statistisc-button">Olhar estatística desse périodo</button>
      </div>
    </div>


    <div class="cost-container">
      <div class="cost__card">
        <div class="cost__card__header">
          <ion-icon name="ticket-outline"></ion-icon>
          <span class="card__item__porcent">3%</span>
        </div>

        <div class="cost__card__body">
          <span class="card__item__value">1000,00</span>
          <h2 class="card__item__type-title">Mercado</h2>
        </div>
      </div>

      <div class="cost__card">
        <div class="cost__card__header">
          <ion-icon name="ticket-outline"></ion-icon>
          <span class="card__item__porcent">3%</span>
        </div>

        <div class="cost__card__body">
          <span class="card__item__value">1000,00</span>
          <h2 class="card__item__type-title">Roupa</h2>
        </div>
      </div>

      <div class="cost__card">
        <div class="cost__card__header">
          <ion-icon name="ticket-outline"></ion-icon>
          <span class="card__item__porcent">3%</span>
        </div>

        <div class="cost__card__body">
          <span class="card__item__value">1000,00</span>
          <h2 class="card__item__type-title">Eletrônico</h2>
        </div>
      </div>

      <div class="cost__card">
        <div class="cost__card__header">
          <ion-icon name="ticket-outline"></ion-icon>
          <span class="card__item__porcent">3%</span>
        </div>

        <div class="cost__card__body">
          <span class="card__item__value">1000,00</span>
          <h2 class="card__item__type-title">Bonus</h2>
        </div>
      </div>

    </div>
  </div>
  <app-navigation></app-navigation>
</ion-content>