<nav class="menu">
  <ul class="menu__list">
    <li class="list__item">
      <a (click)="navigateTo('my-cost')">
        <ion-icon class="list__item__icon item--blue" name="home-outline"></ion-icon>
      </a>

    </li>
    <li class="list__item">
      <a (click)="navigateTo('my-cost')">
        <ion-icon class="list__item__icon" name="cash-outline"></ion-icon>
      </a>
    </li>

    <li class="list__item">
      <a (click)="navigateTo('add-cost')">
        <ion-icon class="list__item__icon item--blue add-cost" name="add-circle"></ion-icon>
      </a>
    </li>

    <li class="list__item">
      <a (click)="navigateTo('cost-chart')">
        <ion-icon class="list__item__icon" name="stats-chart-outline"></ion-icon>
      </a>
    </li>

    <li class="list__item">
      <a>
        <ion-icon class="list__item__icon" name="person-circle-outline"></ion-icon>
      </a>
    </li>
  </ul>

</nav>