.menu {
    width: 100%;
    min-height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.menu__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .list__item {
        .list__item__icon {
            font-size: 1.5em;
            color: var(--grey300);
        }

        .item--blue {
            color: var(--blue700);
        }

        .add-cost {
            font-size: 2.3em;
            margin-bottom: 0.5em;
        }
    }
}
