<ion-content>
  <div class="container slide-container">
    <header class="header">
      <h2 class="header__title">{{ itensHome.mesCusto }}</h2>
    </header>

    <swiper class="slide" [config]="configuracaoSlide" [pagination]="true" *ngIf="exibirSlide">
      <ng-template swiperSlide>
        <div class="slide-item">
          <h2 class="slide__label">Custos</h2>
          <span class="slide__value"><span class="slide__value__corrency">R$</span> {{ itensHome.totalGasto }}</span>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="slide-item">
          <h2 class="slide__label">Saldo disponível</h2>
          <span class="slide__value"><span class="slide__value__corrency">R$</span> {{ itensHome.saldoDisponivel
            }}</span>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="slide-item">
          <h2 class="slide__label">Total a guardar</h2>
          <span class="slide__value"><span class="slide__value__corrency">R$</span> {{ itensHome.totalGuardar }}</span>
        </div>
      </ng-template>
    </swiper>

    <div class="cost-container" [ngClass]="{'altura-sem-custo': itensHome?.custos.length < 4}">
      <h2 class="cost__title">Custos</h2>
      <div class="custo-nao-cadastrado" *ngIf="naoPossuiCusto">
        <p>Nenhum custo cadastrado neste mês</p>
      </div>
      <div class="cost-card__container">
        <div class="cost-card" *ngFor="let custo of itensHome.custos">
          <div class="cost-card__content">
            <div class="cost-card__icon">
              <ion-icon [name]="custo.icone"></ion-icon>
            </div>

            <div class="txt-align-left" (click)="irDetalheCusto(custo.id)">
              <h3 class="cost-card__title">{{ custo.tipo }}</h3>
              <p class="cost-card__description">{{ custo.descricao}}</p>
            </div>
          </div>

          <div class="txt-align-right">
            <h3 class="cost-card__title">R${{ custo.valor }}</h3>
            <p class="cost-card__description">{{ custo.data }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <details-cost (exibirSlide)="closeDetail($event)"></details-cost>

  <app-navigation></app-navigation>
</ion-content>