<ion-content>
  <div class="container slide-container">
    <header class="header">
      <h2 class="header__title">Maio</h2>
    </header>


    <ion-slides class="slide" pager="true">
      <ion-slide class="slide-item">
        <h2 class="slide__label">Custos</h2>
        <span class="slide__value"><span class="slide__value__corrency">R$</span> 20000.00</span>
      </ion-slide>

      <ion-slide class="slide-item">
        <h2 class="slide__label">Total a guardar</h2>
        <span class="slide__value"><span class="slide__value__corrency">R$</span> 20.00</span>
      </ion-slide>

      <ion-slide class="slide-item">
        <h2 class="slide__label">Total guardado</h2>
        <span class="slide__value"><span class="slide__value__corrency">R$</span> 20.00</span>
      </ion-slide>
    </ion-slides>

    <div class="cost-container">
      <h2 class="cost__title">Custos</h2>

      <div class="cost-card__container">
        <div class="cost-card">
          <div class="cost-card__content">
            <div class="cost-card__icon">
              <ion-icon name="attach-outline"></ion-icon>
            </div>

            <div class="txt-align-left" (click)="goToDetail()">
              <h3 class="cost-card__title">Mercado</h3>
              <p class="cost-card__description">Compra do Mês</p>
            </div>
          </div>

          <div class="txt-align-right">
            <h3 class="cost-card__title">-150,00</h3>
            <p class="cost-card__description">10/08/2022</p>
          </div>
        </div>

        <div class="cost-card">
          <div class="cost-card__content">
            <div class="cost-card__icon">
              <ion-icon name="bandage-outline"></ion-icon>
            </div>

            <div class="txt-align-left">
              <h3 class="cost-card__title">Roupa</h3>
              <p class="cost-card__description">Presente para mãe</p>
            </div>
          </div>

          <div class="txt-align-right">
            <h3 class="cost-card__title">-35,00</h3>
            <p class="cost-card__description">10/08/2022</p>
          </div>
        </div>

        <div class="cost-card">
          <div class="cost-card__content">
            <div class="cost-card__icon">
              <ion-icon name="boat-outline"></ion-icon>
            </div>

            <div class="txt-align-left">
              <h3 class="cost-card__title">Restaurante</h3>
              <p class="cost-card__description">Almoço</p>
            </div>
          </div>

          <div class="txt-align-right">
            <h3 class="cost-card__title">-25,00</h3>
            <p class="cost-card__description">30/08/2022</p>
          </div>
        </div>

        <div class="cost-card">
          <div class="cost-card__content">
            <div class="cost-card__icon">
              <ion-icon name="bonfire-outline"></ion-icon>
            </div>

            <div class="txt-align-left">
              <h3 class="cost-card__title">Outros</h3>
              <p class="cost-card__description">Genorosidade</p>
            </div>
          </div>

          <div class="txt-align-right">
            <h3 class="cost-card__title">-100,00</h3>
            <p class="cost-card__description">30/08/2022</p>
          </div>
        </div>

        <div class="cost-card">
          <div class="cost-card__content">
            <div class="cost-card__icon">
              <ion-icon name="business-outline"></ion-icon>
            </div>

            <div class="txt-align-left">
              <h3 class="cost-card__title">Ensino</h3>
              <p class="cost-card__description">Parcela faculdade</p>
            </div>
          </div>

          <div class="txt-align-right">
            <h3 class="cost-card__title">-655,00</h3>
            <p class="cost-card__description">30/08/2022</p>
          </div>
        </div>

      </div>

    </div>
  </div>
  <details-cost></details-cost>

  <app-navigation></app-navigation>
</ion-content>