<ion-content>
    <div class="home__container">
        
        <img src="../../assets/login/Finance app_Monochromatic.svg" />
        
        <div class="home__content">
            <ion-label>
                <h1 class="home__title">FinanApp</h1>
            </ion-label>
            
            <p class="home__description">Saiba o controle dos seus gastos e alcance as suas metas financeiras</p>
        </div>

        <div class="home__buttons">
            <ion-button class="button button--blue" routerLink="login">Login</ion-button>
            <a routerLink="login" class="button button--outline--blue">Cadastrar</a>
        </div>

    </div>
</ion-content>