<ion-content *ngIf="showDetail">
  <form #form="ngForm" (ngSubmit)="atualizarCusto(form)" class="detail-container">
    <div class="detail-container__box ds-flex-center">
      <div class="detail-content">
        <span class="close-datail">
          <ion-icon name="close-outline" (click)="closeDetail()"></ion-icon>
        </span>
        <header class="detail-content__header">
          <div class="header__icon">
            <ion-icon name="bandage-outline"></ion-icon>
          </div>

          <h2 class="detail-content__header__title">{{ custo.tipo }}</h2>
        </header>

        <div class="detail-actions">
          <ion-button class="detail-button" [ngClass]="{'detail-button--transparent': isUpdate}"
            (click)="showUpdate(false)">Detalhes</ion-button>
          <ion-button class="detail-button" [ngClass]="{'detail-button--transparent': !isUpdate}"
            (click)="showUpdate(true)">Editar</ion-button>
          <ion-button class="detail-button detail-button--transparent">Excluir</ion-button>
        </div>

        <div class="detail-description">
          <label class="detail-description__title">Valor: </label>
          <p class="detail-description__description" *ngIf="!isUpdate">R$ {{ custo.valor }}</p>
          <input type="number" name="valor" class="input" [(ngModel)]="custo.valor" *ngIf="isUpdate">

          <label class="detail-description__title">Data: </label>
          <p class="detail-description__description" *ngIf="!isUpdate">{{ custo.data }}</p>
          <input type="text" name="data" class="input" [(ngModel)]="custo.data" *ngIf="isUpdate">

          <label class="detail-description__title">Custo: </label>
          <p class="detail-description__description" *ngIf="!isUpdate">{{ custo.gasto ? 'Sim' : 'Não' }}</p>
          <input type="text" name="gasto" class="input" [(ngModel)]="custo.gasto" *ngIf="isUpdate">

          <div *ngIf="custo.possuiParcela">
            <label class="detail-description__title">Próxima parcela: </label>
            <p class="detail-description__description" *ngIf="!isUpdate">-</p>
            <input type="text" name="date" class="input" *ngIf="isUpdate">
          </div>

          <label class="detail-description__title">Descrição: </label>
          <p class="detail-description__description" *ngIf="!isUpdate">{{ custo.descricao }}</p>
          <ion-textarea class="input input-textarea" name="descricao" [(ngModel)]="custo.descricao" *ngIf="isUpdate"></ion-textarea>

        </div>
        <ion-button type="submit" class="update-button" *ngIf="isUpdate">Atualizar</ion-button>
      </div>
    </div>
  </form>
</ion-content>